## Final project: 22:544:641:68 Analytics for Business Intelligence 
RUPINDER KAUR GURPINDER SINGH Piyaporn Puangprasert
Dr. Jin Wang

In [1]:
import tensorflow as tf

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
train.shape, test.shape

((901, 24), (226, 24))

In [4]:
# Add logSalePrice column
train['logSalePrice'] = np.log(train['SalePrice'])
test['logSalePrice'] = np.log(test['SalePrice'])

# Drop the first column from both datasets
train = train.iloc[:, 1:]
test = test.iloc[:, 1:]

In [7]:
# Assuming your DataFrame is named df
train['StreetPave'] = train['Street'].apply(lambda x: 1 if x == 'Pave' else 0)
test['StreetPave'] = test['Street'].apply(lambda x: 1 if x == 'Pave' else 0)

# Drop the Street column
train = train.drop(columns=['Street'])
test = test.drop(columns=['Street'])

In [9]:
# Fix the CentralAir column
train['CentralAirY'] = train['CentralAir'].apply(lambda x: 1 if x == 'Y' else 0)
test['CentralAirY'] = test['CentralAir'].apply(lambda x: 1 if x == 'Y' else 0)

# Drop the CentralAir column
train = train.drop(columns=['CentralAir'])
test = test.drop(columns=['CentralAir'])

In [13]:
# Fix LotShape column in both datasets (add 3 new columns) instead of 4 )
# IR1, IR2, IR3,  (NO! Reg)
train['LotShapeIR1'] = train['LotShape'].apply(lambda x: 1 if x == 'Y' else 0) 
test['LotShapeIR1'] = test['LotShape'].apply(lambda x: 1 if x == 'Y' else 0)

train['LotShapeIR2'] = train['LotShape'].apply(lambda x: 1 if x == 'Y' else 0)
test['LotShapeIR2'] = test['LotShape'].apply(lambda x: 1 if x == 'Y' else 0)

train['LotShapeIR3'] = train['LotShape'].apply(lambda x: 1 if x == 'Y' else 0)
test['LotShapeIR3'] = test['LotShape'].apply(lambda x: 1 if x == 'Y' else 0)

# Drop the LotShape column
train = train.drop(columns=['LotShape'])
test = test.drop(columns=['LotShape'])

In [15]:
train.shape, test.shape

((901, 26), (226, 26))

In [16]:
test

,LotFrontage,LotArea,YearBuilt,BsmtUnfSF,TotalBsmtSF,X1stFlrSF,X2ndFlrSF,GrLivArea,BsmtFullBath,BsmtHalfBath,...,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,logSalePrice,StreetPave,CentralAirY,LotShapeIR1,LotShapeIR2,LotShapeIR3
0,68,11250,2001,434,920,920,866,1786,1,0,...,2001,2,608,0,12.317167,1,1,0,0,0
1,85,14115,1993,64,796,796,566,1362,1,0,...,1993,2,480,40,11.870600,1,1,0,0,0
2,66,13695,2004,468,1114,1114,0,1114,1,0,...,2004,2,576,0,11.976659,1,1,0,0,0
3,70,7560,1958,525,1029,1339,0,1339,0,0,...,1958,1,294,0,11.842229,1,1,0,0,0
4,50,8500,1920,649,649,649,668,1317,0,0,...,1920,1,250,0,10.596635,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,80,10721,1959,1252,1252,1252,0,1252,0,0,...,1960,2,528,0,11.863582,1,1,0,0,0
222,60,21930,2005,732,732,734,1104,1838,0,0,...,2005,2,372,100,12.165980,1,1,0,0,0
223,80,8400,1962,1319,1319,1537,0,1537,1,0,...,1962,2,462,0,12.066811,1,1,0,0,0
224,70,8400,1966,0,814,913,0,913,1,0,...,1990,1,240,0,11.767568,1,1,0,0,0
225,80,10000,1995,141,1220,1220,870,2090,1,0,...,1995,2,556,0,12.388394,1,1,0,0,0