In [2]:
import numpy as np 
a = np.array([1,4,5])
print(a)

[1 4 5]

#set tuple and dictionary


s={1,2, "RBS"}

In [4]:
len(a)

3

In [7]:
universities = {'Princeton', 'NYU','Rutgers'}
'Rutgers' in universities

True

In [ ]:
# shift + enter = new codspace

In [8]:
l = [ 1, 2, 3]
s= set(l)
s

{1, 2, 3}

In [14]:
s1 = {1,2}
s2 = {6,7}
inter = s1.intersection(s2)
inter
all = s1.union(s2)
all
diff = s1.difference(s2) # in s2, but not in s2
print('inter',inter)
print('all',all)
print('diff', diff)

inter set()
all {1, 2, 6, 7}
diff {1, 2}

#Tuple

In [18]:
t = 'a', 'b', 'c', 'd' # or t = ('a', 'b', 'c', 'd')
t[1]

'b'

In [23]:
def get_quot_rem(x, y):
  return x//y, x%y
x, y = 7, 3
quot, rem = get_quot_rem(x, y)
#  , rem = 1

get_quot_rem(x,y)
printquot
rem

2

In [24]:
quot

2

In [25]:
rem

1

In [26]:
counties = ['MIDDLESEX', 'MIDDLESEX', 'SOMERSET']
cities = ['Piscataway', 'HIGHLAND PARK', 'FLAGTOWN']
zipcodes = ['08854', '08904', '08821']
print(list(zip(counties, cities, zipcodes)))

<zip object at 0x00000232497B3AC0>